<% provide(:title, "Log into ECE Inventory") %>
<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Log in</h2>
            <div class="panel-body">
              <%= form_for(:session, url: login_path) do |f| %>
                  <%= f.text_field :username, required: true, label: false, autofocus: true, placeholder: "Username", class: "input-lg" %>
                  <%= f.password_field :password, required: true, label: false, autofocus: true, placeholder: "Password", class: "input-lg"%>
                  <%= f.submit "Log in", class: "btn-lg btn-info btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>