
<tr>
  <td>
    <%= link_to user.username, user %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.privilege %>
  </td>
  <td>
    <% if is_admin? && !current_user?(user) %>
        <%= render 'deactivateuserform', user: user %>
    <% end %>
  </td>
</tr>

