
<tr>
  <td>
    <%= link_to user.username, user %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <% if is_admin? && !current_user?(user) %>
      <td>
        <%= user.privilege %>
      </td>
      <td>
      <%= render 'deactivateuserform', user: user %>
      </td>
  <% end %>

</tr>

